body{
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.25px;
	line-height: 24px;
}
a{
	text-decoration: none;
	color: black;
	transition: all 0.25s ease-in-out;
}
.menu a:hover , .banner a:hover{
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	color: #bda47d;
}
.container-fluid{
	width: 1309px;
	margin: 50px 15px 0 25px;
}
.menu ion-icon{
	margin-left: 20px;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
.menu{
	width: 1250px;
	height: 100px;
	margin: 0 auto;
}
.c2{
	width: 170px;
}
.menu_down{
	padding-top: 20px;
	margin-right: 20px;
}
.menu_chu{
	padding-top: 27px;
	text-align: right;
}
.img{
	width: 100%;
	height: 650px;
	margin-bottom: 20px;
}
.img_left{
	float: left;
	width: 50%;
	height: 645px;
	position: relative;
	overflow: hidden;
}
.img a:hover{
	color: unset;
}
.img_left img{
	transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	height: 645px;
	width: 100%;
	vertical-align: middle;
}
.img img:hover{
	transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	transform: scale(1.05);
}
.left{
	position: absolute;
	top: 570px;
	left: 20px;
}
.img h2{
	text-transform: capitalize;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: 550;
}
.img p{
	color: #bda47d;
}
.img_right{
	float: left;
	width: 50%;
	height: 645px;
}
.right{
	float: left;
	width: 50%;
	height: 322.5px;
	overflow: hidden;
	position: relative;
}
.right img{
	height: 322.5px;
	max-width: 100%;
	transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
	vertical-align: middle;
}
.chu_right{
	position: absolute;
	top: 240px;
	left: 20px;
}
.tt{
	background-image: url("./img/img6.jpeg");
	max-width: 100%;
	height: 322px;
	background-size: cover;
}
.tt2{
	background-image: url("./img/img8.jpeg");
	max-width: 100%;
	height: 322px;
	background-size: cover;
}
.tt2:hover{
	background-image: url("./img/img9.jpeg");
}
.tt3{
	background-image: url("./img/img10.jpeg");
	max-width: 100%;
	height: 322px;
	background-size: cover;
}
.tt3:hover{
	background-image: url("./img/img11.jpeg");
}
.banner{
	width: 100%;
	height: 1200px;
}
.tt , .tt2 , .tt3{
	float: left;
	width: 25%;
	height: 322px;
}
.tt:hover{
	background-image: url("./img/img7.jpeg");
}
.t h4 , .t p{
	text-align: center;
	font-weight: bold;
}
.t{
	text-align: center;
	float: left;
	width: 25%;
}
.t1{
	background-image: url("./img/img12.webp");
	max-width: 100%;
	height: 367px;
	background-size: cover;
}
.t2{
	background-image: url("./img/img13.webp");
	max-width: 100%;
	height: 367px;
	background-size: cover;
}
.in{
	padding-top: 250px;
	padding-left: 20px;
}
.in h4{
	font-size: 15px;
	color: #949494;
}
.in ion-icon{
	width: 50px;
	height: 50px;
}
.banana{
	width: 1279px;
	margin: 0 auto;
	height: 367px;
}
.banana a:hover{
	transition: all 0.25s ease-in-out;
	color: red;
}
.near_footer{
	background-image: url("./img/img14.jpg");
	width: 100%;
	height: 370px;
}
#in h2{
	margin-top: 0;
	font-weight: 700;
}
#in{
	width: 1000px;
	height: 110px;
	padding-left: 400px;
	padding-top: 130px;
}
#in input{
	border: 1px solid lightgray;
	width: 400px;
	height: 50px;
	border-right: none;
	background-image: url("./img/img14.jpg");
}
#in input:active{
	border: unset;
}
#in button{
	width: 120px;
	height: 50px;
	background-color: black;
	color: white;
	letter-spacing: 2px;
	font-size: 12px;
	margin-left: -4px;
	border: 1px solid;
}
#in button:hover{
	color: red;
	border: 3px solid red;
}
.footer{
	width: 100%;
	height: 180px;
	margin: 0 auto 50px auto;
}
.footer_left{
	background-color: black;
	height: 180px;
}
.footer_right{
	background-color: skyblue;
	height: 180px;
}
