*{
	padding: 0;
	margin: 0;
}
body{
	box-sizing: border-box;
	max-width: 100%;
	font-family: Inter,X-LocaleSpecific,sans-serif,Zilla Slab;
	line-height: 1.5;
}
.gap{
	width: 1157px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: black;
}
.btn{
	color: white;
	font-weight: bold;
	font-size: 17px;
	width: 172px;
	background-color: blue;
	border-radius: 5px;
	padding: 12px 17px;
	text-align: center;
	display: block;
	margin: 20px 0;
}
.btn:hover{
	background-color: blanchedalmond;
	color: red;
}
span{
	color: gray;
	font-size: 15px;
	display: block;
}

/* Menu */
#menu{
	width: 100%;
	box-shadow: 0 0 1px 1px rgb(29 17 51 / 4%), 
				0 0 3px 2px rgb(9 32 77 / 12%), 
				0 0 2px -3px rgb(29 17 51 / 12%);
	height: 65px;
	margin-bottom: 70px;
}
#logo{
	float: left;
	width: 115px;
	padding-top: 16px;
}
#logo img{
	width: 112px;
	height: 32px;
}
#menu_left{
	float: left;
	width: 770px;
	padding-top: 22px;
}
#menu_left ul li{
	display: inline-block;
	list-style: none;
}
#menu_left ul li a{
	font-size: 17px;
	font-weight: bold;
	margin-left: 20px;
}
#menu_left ul li a:hover{
	text-decoration: underline 2px;
}
#menu_right{
	float: right;
	width: 172px;
	margin-top: 23px;
}
#menu_right a{
	color: blue;
	font-weight: bold;
	font-size: 15px;
	width: 172px;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 7px 15px;
	text-align: center;
}
#menu_right a:hover{
	background-color: blue;
	color: white;
}

/* vung_2 */
#vung_2{
	height: 600px;
}
#vung_2_left{
	float: left;
	width: 563px;
	margin-right: 30px;
	margin-top: 160px;
}
#vung_2_left h1{
	font-size: 100px;
	color: #20123a;
	line-height: 1;
}
#vung_2_right{
	float: left;
	width: 563px;
}
.c1{
	font-size: 13px; 
	margin-left: 37px; 
	color: gray;
}
.c1:hover{
	text-decoration: underline black;
}

/* vung_3 */
#vung_3{
	height: 580px;
	margin-bottom: 70px;
}
p{
	font-size: 17px;
}
#vung_3_left{
	width: 740px;
	float: left;
	margin-right: 30px;
}
#vung_3_left h1{
	font-size: 40px;
}
#vung_3_left img{
	width: 740px;
	height: 427px;
}
#vung_3_left:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_3_left h1:hover{
	text-decoration: underline 2px;
}
#vung_3_right h2:hover{
	text-decoration: underline 2px;
}
#vung_3_right:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_3_right{
	width: 340px;
	float: left;
}
#vung_3_right img{
	width: 340px;
	height: 360px;
}
ion-icon{
	width: 30px;
	height: 30px;
}
.icon{
	float: left;
	width: 40px;
}
.span{
	float: left;
	width: 40px;
	padding-top: 5px;
}
.dm{
	display: block;
	height: 37px;
}

/* vung_4 */
#vung_4{
	height: 400px;
	margin-bottom: 150px;
}
#vung_4 img{
	width: 369px;
}
#vung_4_left{
	float: left;
	margin-right: 25px;
	width: 369px;
}
#vung_4_center{
	float: left;
	margin-right: 25px;
	width: 369px;
}
#vung_4_right{
	float: left;
	width: 369px;
}
#vung_4_left:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_4_left h2:hover{
	text-decoration: underline 2px;
}
#vung_4_center:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_4_center h2:hover{
	text-decoration: underline 2px;
}
#vung_4_right h2:hover{
	text-decoration: underline 2px;
}
#vung_4_right:hover{
	box-shadow: 0 0 0 4px #ededf0;
}

/* vung_5 */
#vung_5{
	height: 500px;
	margin-bottom: 150px;
}
#vung_5_left{
	float: left;
	width: 540px;
	padding-right: 77px;
	padding-top: 80px;
}
#vung_5_left h1{
	line-height: 1;
	font-size: 40px;
	margin: 20px 0;
}
#vung_5_left a{
	color: white;
	font-weight: bold;
	font-size: 16px;
	width: 172px;
	border-radius: 5px;
	padding: 15px 25px;
	text-align: center;
	background-color: black;
}
#vung_5_left a:hover{
	border: 2px solid;
	color: red;
}
#vung_5_right{
	float: left;
	width: 540px;
}

/* vung_6 */
#vung_6{
	width: 100%;
	height: 520px;
	margin-bottom: 100px;
}
#vung_6_left{
	float: left;
	width: 47%;
}
#vung_6_left img{
	margin-left: -122px;
}
#vung_6_right{
	float: left;
	width: 40%;
	padding-top: 90px;
	padding-left: 100px;
}
#vung_6_right h1{
	font-size: 45px;
	line-height: 1;
	margin-top: 10px;
}
#vung_6_right p{
	margin: 20px 0;
}
#vung_6_right a{
	color: white;
	font-weight: bold;
	font-size: 16px;
	width: 172px;
	border-radius: 5px;
	padding: 13px 27px;
	text-align: center;
	background-color: blue;
}
#vung_6_right a:hover{
	background-color: yellow;
	color: red;
}

/* vung_7 */
#vung_7{
	height: 410px;
	margin-bottom: 100px;
}
#vung_7_up{
	display: block;
	padding-bottom: 20px;
}
.vung_7{
	float: left;
	width: 274.25px;
	margin-left: 20px;
}
.vung_7 h3{
	font-size: 18px;
	line-height: 1.3;
}
.vung_7 img{
	width: 274.25px;
	height: 132px;
}
.vung_7:hover{
	box-shadow: 0 0 0 4px #ededf0;
	text-decoration: underline;
}

/* vung_8 */
#vung_8{
	height: 310px;
	background-color: #ededf0;
	margin-bottom: 150px;
}
#vung_8_left{
	float: left;
	width: 60%;
	text-align: center;
}
#t8{
	width: 60%;
	margin-left: 235px;
    margin-top: 30px;
}
#vung_8_left h1{
	font-size: 40px;
	line-height: 1;
}
#vung_8_left a{
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}
#vung_8_left a:hover{
	text-decoration: none;
	color: hotpink;
}
#vung_8_right{
	float: left;
	width: 35%;
}
#tt8{
	margin-top: -35px;
}

/* vung_9 */
#vung_9{
	height: 554px;
}
#vung_9 h2{
	line-height: 1;
}
#vung_9 img{
	width: 562px;
	height: 375px;
}
#vung_9_left{
	float: left;
	width: 562px;
	margin-right: 33px;
}
#vung_9_right{
	float: left;
	width: 562px;
}
#vung_9_left:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_9_left h2:hover{
	text-decoration: underline 2px;
}
#vung_9_right:hover{
	box-shadow: 0 0 0 4px #ededf0;
}
#vung_9_right h2:hover{
	text-decoration: underline 2px;
}

/* vung_10 */
#vung_10{
	height: 290px;
	background-color: #ededf0;
	margin-bottom: 150px;
}
#vung_10_right{
	float: left;
	width: 60%;
}
.t10{
	width: 40%;
	margin-left: 200px;
    margin-top: 30px;
    text-align: center;
}
#vung_10_right h1{
	font-size: 40px;
	line-height: 1;
}
#vung_10_right a{
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}
#vung_10_right a:hover{
	text-decoration: none;
	color: hotpink;
}
#vung_10_left{
	float: left;
	width: 35%;
}
.tt8{
	margin-left: 235px;
	margin-top: -40px;
}

/* vung_11 */
#vung_11{
	height: 380px;
	margin-bottom: 100px;
}
.vung_7 h3{
	padding: 5px 0;
}

/* vung_12 */
#vung_12{
	height: 300px;
	margin-bottom: 100px;
}
#vung_12_left{
	float: left;
	width: 48%;
}
.vung_12_left{
	width: 60%;
	padding-left: 200px;
}
#vung_12_right{
	float: left;
	width: 50%;
}
.vung_12_right{
	width: 70%;
}
.vung_12_right h1{
	font-size: 45px;
	line-height: 1;
}
.vung_12_right span{
	font-size: 17px;
}
.vung_12_right p{
	font-size: 14px;
}
.vung_12_right input{
	display: block;
	border: 2px solid gray;
	padding: 10px 0;
	width: 397px;
	border-radius: 5px;
	font-size: 16px;
}
.vung_12_right a{
	color: white;
	font-weight: bold;
	font-size: 16px;
	width: 300px;
	border-radius: 5px;
	padding: 8px 50px;
	text-align: center;
	background-color: black;
	display: block;
}
.vung_12_right a:hover{
	border: 2px solid;
	color: red;
}

/* vung_13 */
#vung_13{
	background-color: #20123a;
	height: 516px;
	color: white;
	position: relative;
}
#vung_13 a{
	color: white;
}
#vung_13_out img{
	margin-left: 520px;
}
#vung_13_left{
	position: absolute;
	top: 150px;
}
#vung_13_left h1{
	font-size: 45px;
}
#vung_13_left p{
	font-weight: bold;
	font-size: 15px;
}
#vung_13_right{
	position: absolute;
	right: 350px;
    top: 150px;
}
.c2{
	font-size: 13px;
    margin-left: 37px;
    color: white;
}
.c2:hover{
	text-decoration: underline;
}
.c3{
	font-weight: bold;
    font-size: 17px;
    width: 172px;
    background-color: blue;
    border-radius: 5px;
    padding: 12px 17px;
    text-align: center;
    display: block;
    margin-top: 30px;
}
.c3:hover{
	background-color: skyblue;
}

/* vung_14 */
#vung_14{
	width: 100%;
	background-color: black;
	height: 565px;
}
#vung_14 h1{
	text-transform: uppercase;
	text-align: center;
	color: white;
}
